
@import "settings/reset.scss";
@import "settings/fonts.scss";
@import "settings/colors.scss";
@import "settings/general.scss";

@import "../components/Header/header.scss";
@import "../components/Header/login.scss";
@import "../components/Body/start-helping.scss";
@import "../components/Body/main-body.scss";
@import "../components/Body/fund-form.scss";
@import "../components/Body/contact.scss";
@import "../components/Body/hero.scss";
@import "../components/Body/form.scss";


