.fund-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-black;
    font-family: $font-OS;
}
.fund-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fund-link {
    border: none;
    background-color: white;
    padding: 1rem;
    margin: 1.4rem;
    font-family: $font-OS;
    color: $color-dark-grey;
    border: rgba($color: #000000, $alpha: 0) 0.2px solid;
}
.fund-link a {
    text-decoration: none;
    color: $color-dark-grey;
}
.fund-link:hover, .current-fund {
    border: $color-dark-grey 0.2px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.fund-section {
    display: flex;
    flex-direction: column;
    border-bottom: solid $color-dark-grey 0.2px;
    width: 60rem;
}
.fund-section h1 {
    font-family: $font-OS;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.4rem;
    color: $color-dark-grey;
    margin-right: 4rem;
    margin-top: 2rem;
}
.fund-section p {
    font-family: $font-OS;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1rem;
    color: $color-dark-grey;

}
.fund-section .fund-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
