.btn-log {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding: 0 2rem;
    margin-top: 2rem;
    
}
.btn-log_link {
    text-decoration: none;
    color: $color-dark-grey;
    padding: 8px 12px;
    font-family: $font-OS;
    font-size: 0.8rem;
    margin: 0 1rem;
    border: none;
    background-color: white;
    border: rgba($color: #000000, $alpha: 0) 0.2px solid;
    border-radius: 6px;
}
.btn-log_link:hover, .current-log {
    border: $color-yellow 0.2px solid;

}
.close-btn {
    width: 2rem;
    height: 2rem;
    margin-left: 45rem;

}
.back-plate  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
} 
.wrapper {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
}
.logon-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 40rem;
    border:  $color-light-gray 0.2px solid;
    background-color: white;
    border-radius: 12px;
    box-shadow: 12px 12px 1px 2px rgba(3, 3, 3, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.logon-form .header-description {
    margin-left: 3rem;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin-top: 2rem;
    background-color: $color-light-gray;
    width:16rem;
    height: 12rem;;
  }
  .login-form input {
    margin: 0.5rem;
    height: 2rem;
    border: none;
    border-bottom: $color-dark-grey solid 1px;
    background-color:$color-light-gray;
  }
  .login-form label {
    font-size: 1rem;
    padding: 0 .5rem;
    width: auto;
    text-align: left;
    color: $color-dark-grey;
    font-family: $font-OS;
    margin-top: 1rem;
  }
  .errorMsg {
    text-align: left;
    color: red;
    font-family: $font-OS;
    font-size: 0.6rem;
  }
  
  .nav-link {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: white;
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1rem;
      border: $color-dark-grey 0.2px solid;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  
  }
  .toggle p {
    color:$color-dark-grey;
    font-family: $font-OS;
    font-size: 1rem;
    margin-top: 2rem;
  }
  .toggle p span{
    color:$color-brown;
    font-family: $font-OS;
    font-size: 1rem;
    text-decoration: underline;
  }
  